spring:
  application:
    name: HLabMonitor
  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml
management:
  endpoint:
    health:
      probes:
        enabled: true
  health:
    livenessState:
      enabled: true
    readinessState:
      enabled: true
springdoc:
  swagger-ui:
    enabled: false
  api-docs:
    enabled: false


debug:
  controller:
    enabled: false
database:
  type: h2